/*Login and Register*/
.Main {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input-group span{
    color: red !important;
}
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    background-color: #afafaf;
    color: black;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-group {
    margin-bottom: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #4cae4c;
}

.register-link, .login-link {
    margin-top: 20px;
}

.register-link a, .login-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}

/* Contents */
.section{
    display: grid;
    grid-template-columns: 20% 80%;
}
.sidebar{
    display: grid;
    grid-template-columns: 100%;
    background-color: #afafaf;
}

.sidebar-item{
    border: 1px solid gray;
    padding: 10px;
    font-size: 17px;
}

.search{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search input[type=text] {
    width: 70%;
    font-size: 17px;
    border: 1px solid black;
    background: #f1f1f1;
    box-sizing: border-box;
}

.search button {
    width: 30%;
    font-size: 17px;
    background: white;
    color: black;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
    box-sizing: border-box;
}

.search button:hover {
    background: #0b7dda;
}

.sidebar-item:hover{
    background-color: white;
}

.view-link{
    color: #2a85ee;
    margin: 5px;
}

.form-link{
    color: #2a85ee;
    margin: 5px;
}

.link{
    height: 1000px;
}

select:hover{
    background: #5a6268;
}

/*Layout*/
.container1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.form-container1 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
    width: 90%;
}

h3 {
    color: #555;
}

.form-group1 {
    margin-bottom: 15px;
}

.form-group1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group1 input,
.form-group1 textarea {
    width: 80%;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group1 textarea {
    height: 100px;
}

.form-group1 input[type="email"] {
    color: #777;
    background-color: #f9f9f9;
}

.form-group-buttons{
    display: flex;
    flex-direction: row;
}

.form-group-buttons button {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

.form-group-buttons button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
}

.form-group-buttons button[type="reset"] {
    margin-left: 10px;
    background-color: #4CAF50;
    color: #fff;
}

.form-container1-item{
    border: 1px solid gray;
    padding: 10px;
    font-size: 17px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table thead th {
    background-color: #f2f2f2;
    padding: 12px;
    border: 1px solid #dddddd;
}

table tbody td {
    padding: 12px;
    border: 1px solid #dddddd;
}

